{deps, [
        {cowboy, "0.8.6", {git, "git://github.com/extend/cowboy.git", {tag, "0.8.6"}}},
        {mimetypes, "", {git, "git://github.com/spawngrid/mimetypes.git", {branch, "master"}}},
        {oauth, "1.4.0", {git, "git://github.com/tim/erlang-oauth.git", {tag, "v1.4.0"}}},
        {couchbeam, "", {git, "git://github.com/benoitc/couchbeam.git", {branch, "master"}}}
       ]}.
